For this lab and in the next lessons we will build a model on customer churn binary classification problem. You will be using files_for_lab/Customer-Churn.csv file.

Scenario
You are working as an analyst with this internet service provider. You are provided with this historical data about your company's customers and their churn trends. Your task is to build a machine learning model that will help the company identify customers that are more likely to default/churn and thus prevent losses from such customers.

Instructions
In this lab, we will first take a look at the degree of imbalance in the data and correct it using the techniques we learned on the class.

Here is the list of steps to be followed (building a simple model without balancing the data):

- Import the required libraries and modules that you would need.
- Read that data into Python and call the dataframe churnData.
- Check the datatypes of all the columns in the data. You would see that the column TotalCharges is object type. Convert this column into numeric type using pd.to_numeric function.
- Check for null values in the dataframe. Replace the null values.
- Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges:
- Scale the features either by using normalizer or a standard scaler.
- Split the data into a training set and a test set.
- Fit a logistic regression model on the training data.
- Check the accuracy on the test data.
- Note: So far we have not balanced the data.

Managing imbalance in the dataset

- Check for the imbalance.
- Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.
- Each time fit the model and see how the accuracy of the model is.

In [51]:
#Import the required libraries and modules that you would need.
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import Normalizer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, plot_confusion_matrix

In [28]:
#Read that data into Python and call the dataframe churnData.
churnData=pd.read_csv('Customer-Churn.csv')

In [29]:
churnData

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.5,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.9,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.6,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.5,No

In [30]:
#Check the datatypes of all the columns in the data. You would see that the column TotalCharges is object type. Convert this column into numeric type using pd.to_numeric function.
churnData.dtypes
churnData['TotalCharges'] = pd.to_numeric(churnData['TotalCharges'],errors = 'coerce')

In [31]:
churnData.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [32]:
#Check for null values in the dataframe. 
churnData.isna().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [36]:
#Replace the null values. I will drop the null value instead.
churnData = churnData.dropna()

In [37]:
churnData.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [73]:
churnData.to_csv('churnData.csv', index=False)

In [49]:
#Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges
#Scale the features either by using normalizer or a standard scaler.

x = churnData[['tenure','SeniorCitizen','MonthlyCharges','TotalCharges']]
# Normalizing data
transformer = Normalizer().fit(x)
x_normalized = transformer.transform(x)
x = pd.DataFrame(x_normalized)

In [50]:
x

             0         1         2         3
0     0.023682  0.000000  0.706908  0.706908
1     0.017983  0.000000  0.030122  0.999384
2     0.016552  0.000000  0.445662  0.895048
3     0.024433  0.000000  0.022967  0.999438
4     0.011952  0.000000  0.422512  0.906279
...        ...       ...       ...       ...
7027  0.012045  0.000000  0.042561  0.999021
7028  0.009777  0.000000  0.014014  0.999854
7029  0.031620  0.000000  0.085085  0.995872
7030  0.012677  0.003169  0.235798  0.971714
7031  0.009641  0.000000  0.015433  0.999834

[7032 rows x 4 columns]

In [53]:
#Split the data into a training set and a test set.
y = churnData['Churn']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=100)

In [54]:
#Fit a logistic regression model on the training data.
classification = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='multinomial').fit(X_train, y_train)

In [56]:
#Check the accuracy on the test data.
Y_train_perditct = classification.predict(X_train)
Y_test_perditct = classification.predict(X_test)

print(classification_report(y_train, Y_train_perditct),classification_report(y_test, Y_test_perditct))

              precision    recall  f1-score   support

          No       0.78      0.93      0.85      4150
         Yes       0.60      0.28      0.38      1475

    accuracy                           0.76      5625
   macro avg       0.69      0.61      0.62      5625
weighted avg       0.74      0.76      0.73      5625
               precision    recall  f1-score   support

          No       0.77      0.93      0.84      1013
         Yes       0.62      0.30      0.40       394

    accuracy                           0.75      1407
   macro avg       0.70      0.61      0.62      1407
weighted avg       0.73      0.75      0.72      1407

The accuracy of the model is relatively low. The model performs very pooly when it comes to "Yes" as return.

In [57]:
#Check for the imbalance.
churnData['Churn'].value_counts()

No     5163
Yes    1869
Name: Churn, dtype: int64

##### Use the resampling strategies used in class for upsampling and downsampling to create a balance between the two classes.
##### Each time fit the model and see how the accuracy of the model is.

In [59]:
from imblearn.under_sampling import RandomUnderSampler
from imblearn.under_sampling import TomekLinks
from imblearn.over_sampling import RandomOverSampler
from imblearn.over_sampling import SMOTE

In [60]:
#under sampling using RandomUnderSampler
rus = RandomUnderSampler(random_state=10)
X_rus, Y_rus = rus.fit_resample(X_train,y_train)
Y_rus.value_counts()

No     1475
Yes    1475
Name: Churn, dtype: int64

In [61]:
classification_random_under = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='multinomial').fit(X_rus, Y_rus)

In [62]:
classification_random_under.score(X_test, y_test)

0.7327647476901208

In [63]:
#under sampling using TomekLinks
t1 = TomekLinks()
X_under,Y_under = t1.fit_resample(X_train,y_train)
Y_under.value_counts()

No     3739
Yes    1475
Name: Churn, dtype: int64

In [64]:
classification_tomeklinks = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='multinomial').fit(X_under,Y_under)

In [65]:
classification_tomeklinks.score(X_test, y_test)

0.7540867093105899

In [66]:
##Over Sampling
#over sampling using RandomoverSampler
ros = RandomOverSampler(random_state=10)
X_rus, Y_rus = ros.fit_resample(X_train,y_train)
Y_rus.value_counts()

No     4150
Yes    4150
Name: Churn, dtype: int64

In [67]:
classification_random_over = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='multinomial').fit(X_rus, Y_rus)

In [68]:
classification_random_over.score(X_test, y_test)

0.7427149964463398

In [69]:
##Over Sampling
#over sampling using SMOTE
sm = SMOTE(random_state = 42)
X_res, Y_res = sm.fit_resample(X_train,y_train)
Y_under.value_counts()

No     3739
Yes    1475
Name: Churn, dtype: int64

In [70]:
classification_smote = LogisticRegression(random_state=0, solver='lbfgs',
                  multi_class='multinomial').fit(X_res, Y_res)

In [71]:
classification_smote.score(X_test, y_test)

0.7427149964463398